* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #1976d2;
  color: #fefefe;
  border: none;
  padding: 1em;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms
}

button:hover {
  background-color: #2199f6;
  color: #fff;
}